@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  font-family: "Roboto";
  background: linear-gradient(#89beef, #1a86ea);
  /*height: 100%; у body ширина уже соответсвует максимальной*/
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  text-decoration: none;
}

main {
  min-height: 100vh; /*минимальная высота основной части 100% от размера окна*/
  display: flex; /*выравнивание по центру при помощи флекса*/
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-menu {
  /*Контейнер для главного меню игры*/
  display: flex; /*выравнивание по центру при помощи флекса*/
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}
.nothing {
  font-size: 60px;
  margin: 40px;
  padding: 20px;
  color: #091264;
  background-color: #ebf2ff;
  border-radius: 50px;
  min-width: 200px;
  min-height: 100px;
  display: flex; /*выравнивание по центру при помощи флекса*/
  justify-content: center;
  align-items: center;
  /*position: fixed;*/
}
.inner-nothing {
  /*Контейнер для внутренней границы*/
  border: 10px solid #89BEEF;
  border-radius: 50px;
  display: flex; /*выравнивание по центру при помощи флекса*/
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.pos1 {
  font-size: 60px;
  margin: 40px;
  padding: 20px;
  color: #091264;
  background-color: #ebf2ff;
  border-radius: 1000px;
  width: 380px;
  height: 80px;
  display: flex; /*выравнивание по центру при помощи флекса*/
  justify-content: center;
  align-items: center;
  /*position: fixed;*/
}

.inner-pos1 {
  /*Контейнер для внутренней границы*/
  border: 10px solid #89BEEF;
  border-radius: 1000px;
  display: flex; /*выравнивание по центру при помощи флекса*/
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}









.clouds img {
	position: relative;
	animation: cloud 3s infinite 2s;
}

.clouds img:after {
	left: 10px;
}

.clouds img:before {
	right: 10px;
}

.clouds .cloud {
	animation-timing-function: linear;
}



@keyframes cloud {
	0% {
		transform: translate(0);
	}
	100% {
		transform: translate(-25em);
	}
}
